@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 4%;
  --card: 0 0% 7%;
  --card-foreground: 0 0% 100%;
  --primary: 0 70% 49%;
  --primary-foreground: 0 0% 100%;
  --secondary: 0 0% 75%;
  --secondary-foreground: 0 0% 4%;
  --accent: 0 0% 10%;
  --accent-foreground: 0 0% 100%;
  --muted: 0 0% 4%;
  --muted-foreground: 0 0% 64%;
  --border: 0 0% 16%;
  --ring: 0 70% 49%;
  --destructive: 0 72% 51%;
  --destructive-foreground: 0 0% 100%;
  --radius: 0.5rem;
}

* {
  border-color: hsl(var(--border));
}

body {
  @apply bg-background text-foreground font-body antialiased;
}
